# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Ігнорування файлів, специфічних для користувача, згенерованих Visual Studio Code
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json

## Ігнорування папок з результатами збірки (build artifacts)
# Ці папки містять скомпільований код, бібліотеки та інші файли,
# які генеруються під час процесу збірки.
obj/
bin/
artifacts/
*.pubxml
*.publish.xml
packages/
*.nupkg
*.log
*.tmp
*.temp
*.bak
*.[Pp]rofiler
*.pidb
*.snapshot
*.vspx
StyleCop.Cache
$tf/