.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 0 20px;
}

.header-container {
  display: flex;
  margin-top: 20px;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  gap: 14px;
}

@media screen and (min-width: 1280px) {
  .header-container {
    gap: 20px;
  }
}

.header-container-mob {
  display: flex;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  width: 100%;
  background-color: #121212;
}

@media screen and (min-width: 768px) {
  .header-container-mob {
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container-mob {
    padding-left: 50px;
    padding-right: 0;
  }
}

.header-camera-icon {
  background-color: #1d1d1d;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.camera-icon {
  fill: #bea69e66;
  display: flex;
  align-items: center;
  justify-content: center;
}


.camera-icon:hover,
.camera-icon:focus {
  fill: #bea69e;
}

@media screen and (min-width: 768px) {
  .header-camera-icon {
    display: none;
  }
}

.burger-btn {
  background: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  stroke: white;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
}

.sign-up-button {
  display: none;
}

.header-right-items {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sign-up-button {
    display: flex;
    margin-left: auto;
    min-width: 168px;
    border-radius: 12px;
    border: none;
    background: #fff;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
  }

  .sign-up-button:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up-button {
    min-width: 238px;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav {
    display: flex;
    gap: 28px;
    margin-right: 50px;
  }

  .nav-item {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out;
  }

  .nav-item:hover,
  .nav-item:focus {
    color: #bea69e;
    transform: scale(1.05);
  }
}

.logo-icon {
  fill: #fff;
}

/* #region Mob menu */

.mobile-menu {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  background-color: #bea69e;
  transform: translateX(100%);
  width: 70vw;
  max-height: 812px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    max-height: 70vw;
    width: 480px;
  }
}

.mobile-menu.active {
  transform: translateX(0%);
}
.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  stroke: #1d1d1d;
  background-color: #bea69e;
  color: #2e2f42;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mobile-menu-photo-container {
  background-image: url(../img/header_menu/menu_mob@2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 110vw;
}

@media screen and (min-width: 768px) {
  .mobile-menu-photo-container {
    background-image: url(../img/header_menu/menu_tab@1x.webp);
    height: 60vw;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-top: 180px;
}

.mobile-menu__list-item {
  margin-bottom: 20px;
}

.mobile-menu__list-item > a {
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.list-item-active > a {
  color: #1d1d1d;
  font-weight: 700;
}

.icon-list--mobile-menu {
  margin-top: 48px;
  justify-content: space-between;
}

.mobile-menu__address-item {
  margin-top: 24px;
  font-weight: 500;
}

.mobile-menu__address li:nth-child(2) a {
  color: #2e2f42;
}

.mobile-menu-img {
  padding: 0;
  margin: 0;
}

/* Backdrop */
.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

/* #region  scroll to top */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 12px;
  background-color: transparent;
  color: white;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  #scrollToTopBtn {
    bottom: 25px;
    right: 25px;
    padding: 12px 14px;
  }
}

#scrollToTopBtn.visible {
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}

/* #endregion */

/* #region Animation */

.move-card {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease-out, transform 1s ease-out;
  background: #fff;
}

.move-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* #endregion */

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-header {
  width: 22px;               
  height: 22px;
  fill: white;
  display: block;
  margin-top: 2px;           
  transition: 0.3s;
}

.icon-button:hover .icon-header {
  fill: #bea69e;
}

.nav-icons {
  display: flex;
  align-items: center;       
  gap: 32px;                 
  list-style: none;
  margin-left: auto;        
}

.gap-icon {
  margin-left: 160px;
}



.notif-center {
  position: absolute;
  top: 70px;
  right: 380px;
  width: 380px;
  background: #201f1fdc;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.55);
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: none;
  z-index: 999999;
}

.notif-section-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 10px;
  opacity: 0.9;
}

.notif-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #151515;
  padding: 14px 16px;
  border-radius: 16px;
  margin-bottom: 12px;
  border: 1px solid rgba(255,255,255,0.06);
  transition: 0.2s;
}

.notif-card:hover {
  background: #1b1b1b;
}

.notif-icon-wrap {
  width: 46px;
  height: 46px;
  border-radius: 14px;
  background: radial-gradient(circle at top, #2c2b2a, #171717);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  box-shadow: 0 0 12px rgba(255, 230, 180, 0.12);
}

.notif-icon-wrap svg {
  width: 22px;
  height: 22px;
  fill: #d2c0ab;
}

.notif-text h4 {
  color: white;
  font-size: 15px;
  margin: 0;
}

.notif-text p {
  color: #b5b5b5;
  font-size: 13px;
  margin: 4px 0 0;
}

.notif-time {
  color: #8b8b8b;
  font-size: 12px;
  white-space: nowrap;
}

.progress-center {
  position: absolute;
  top: 70px;
  right: 300px;
  width: 420px;
  background: #191919;
  border-radius: 22px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.55);
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: none;
  z-index: 9999;
}

.progress-title {
  color: #e0d6c3;
  font-size: 20px;
  margin-bottom: 18px;
  opacity: 0.9;
}

/* main card */
.progress-card {
  background: #151515;
  border-radius: 20px;
  padding: 16px 18px;
  border: 1px solid rgba(255,255,255,0.06);
  margin-bottom: 18px;
}

.progress-label {
  color: #e4ccab;
  font-size: 14px;
  margin-bottom: 12px;
}

/* progress bar */
.progress-bar {
  width: 100%;
  height: 10px;
  background: #262626;
  border-radius: 10px;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #d6b18a, #c49a72);
  border-radius: 10px;
}

.progress-value {
  margin-top: 10px;
  color: #c49a72;
  font-size: 14px;
  display: block;
}

/* grid */
.progress-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.progress-small-card {
  background: #151515;
  border-radius: 20px;
  padding: 14px 16px;
  border: 1px solid rgba(255,255,255,0.06);
}

.progress-small-card h4 {
  color: #e4ccab;
  font-size: 14px;
  margin: 0 0 8px;
}

.progress-number {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 4px;
}

.progress-sub {
  color: #878787;
  font-size: 12px;
}


